*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F0F5FF;
    font-family:'Inter', sans-serif;
    
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:15px 25px;
}

html{
    overflow-y:scroll;
    scrollbar-width:none; /* Firefox */
}

body{
    overflow-x:hidden;
}

html::-webkit-scrollbar{
    display:none; /* Chrome, Edge, Safari */
}
main{
    padding-bottom:150px;
}
.logos{
    background: linear-gradient(to bottom, #023CA1 0%,#00286F 100%);
    display: flex;
    border-radius: 1000px;
    padding:5px;
    gap: 5px;
    
}

.int-logo{
    width:90px;
    height:auto;
    margin:2px;
}

.int-logo-div{
    background-color: white;
    padding: 4px 16px;
    border-radius: 50px;
}

.logo-div{
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.logo{
    width:38px;
    height:auto;
    margin:2px;
    border-radius: 100px;
    padding: 3px;
}
.noti{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #023CA1 0%,#00286F 100%);
    padding: 6px;
    border-radius: 50%;
    
    border: none;
    cursor: pointer;
}
.notification {
    color: white;
    font-size: 25px !important;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
}

.bottom-nav{
    position:fixed;
    bottom: calc( env(safe-area-inset-bottom, 0px));
    box-sizing: border-box;
    left:50%;
    transform:translateX(-50%);

    width:350px;
    height:60px;

    border-radius:100px;
    display:flex;
    justify-content:space-around;
    align-items:center;

    background:linear-gradient(180deg,#023ca1cf,#001844e4);
    box-shadow:0 8px 25px rgba(0,0,0,.25);

    z-index:1000;
}

.bottom-nav button{
    width:45px;
    height:45px;

    border:none;
    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    background:transparent;
    color:white;

    cursor:pointer;
    transition:.25s;
}
.bottom-nav button:not(.new-reclamo):hover{
    background:#0a45ac;
    border-radius:50%;
    box-shadow:0 4px 12px rgba(11, 97, 246, 0.588);
    transform:translateY(-2px);
}
.bottom-nav button:active{
    transform:scale(.92);
}

.bottom-nav button span{
    font-size:28px;
    transition:.25s ease;
}
.bottom-nav button:hover span{
    transform:scale(1.08);
}



.bottom-nav button.active{
    background:#0a45ac;
    border-radius:50%;
    box-shadow:0 4px 12px rgba(11, 97, 246, 0.588);
}



.bottom-nav .new-reclamo{
    width:58px;
    height:58px;

    margin-top:-20px;

    background:white;
    color:#0A007B;

    box-shadow:0 5px 15px rgba(0,0,0,.25);
    transition:0.25s ease;
}

.bottom-nav .new-reclamo:hover{
    transform:translateY(-3px) scale(1.05);

    box-shadow:
        0 10px 25px rgba(0,0,0,.35);
}
.bottom-nav .new-reclamo:active{
    transform:translateY(-1px) scale(0.98);

    box-shadow:
        0 5px 15px rgba(0,0,0,.25);
}


.bottom-nav .new-reclamo span{
    font-size:42px;
    color:#0A007B;
    transition:0.25s ease;
}
.bottom-nav .new-reclamo:hover span{
    transform:rotate(90deg);
}
.div-inicial{
    margin-top: 20px;
    margin-left: 25px;
    font-size: 17px;
    margin-bottom: 18px;
    
}
.new-reclamo-inicial{
    font-size: 20px;
    margin-left: 25px;
    width: calc(100% - 50px);
    font-weight: 500;
    border:none;
    background-color: #023ca1cf;
    color: white;
    height: 48px;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0, 29, 81, 0.18);
    cursor:pointer;
    transition:0.25s ease;
}

.new-reclamo-inicial:hover{
    background-color:#023ca1cf;
    transform:translateY(-2px);

    box-shadow:0 12px 30px rgba(0,29,81,0.25);
}

.new-reclamo-inicial:active{
    transform:translateY(0);
    box-shadow:0 5px 15px rgba(0,29,81,0.18);
}

.reclamos-text{
    margin-top: 16px;
    margin-left: 25px;
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 15px;
}

.stepper{
    display:flex;
    align-items:flex-start;
    justify-content:start;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.step{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:8px;
    width: 12px;
    position:relative;
    flex-shrink: 0;
}

.circle{
    width:12px;
    height:12px;
    border-radius:50%;

    background:#d1d5db;
    color:white;

    display:flex;
    align-items:center;
    justify-content:center;
}

.step.active .circle{
    background:#22c55e;
}

.line{
    width:40px;
    height:2px;
    background:#d1d5db;
    margin-top: 5px;
    
}

.line.active{
    background:#22c55e;
}

.step span{
    
    top:20px;
    left:50%;
    
    width:52px;
    text-align:center;
    font-size:8px;
    line-height:1.2;
    color:var(--text-primary);
}
.primerdiv-reclamo{
    display:flex;
    margin-left: 25px;
    margin-bottom: 12px;
    background-color: white;
    width: calc(100% - 50px);
    height: 140px;
    border-radius:20px;
    box-shadow: 0 8px 24px rgba(0, 29, 81, 0.18);
}
.foto-reclamo{
    width:120px;
    height:140px;
    overflow:hidden;
    flex-shrink:0;
}

.foto-reclamo img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius: 20px;
}
.info-reclamo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:10px;
    flex:1;
    min-width:0;
    gap: 6px;
}

.reclamo-ubicacion{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size: 13px;
    color:rgb(43, 43, 43)
}

.reclamo-titulo{
    font-size: 18px;
    font-weight: 700;
}

.estado-text{
    font-size: 12px;
    color:rgb(56, 55, 55)
}

.fecha{
    font-size: 12px;
    color:rgb(128, 127, 127);
}
.fecha-misreclamos{
    font-size: 12px;
    color:rgb(128, 127, 127);
    display: flex;
    justify-content: space-between;
    margin-right: 14px;
}
.eliminar-rec{
    font-size: 14px;
    border-radius: 100px;
    width:calc(100% - 12px) ;
    border: none;
    background-color: rgb(225, 7, 68);
    color: white;
    cursor:pointer;
}
.icono-subir{
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 50px);
    border-radius: 18px;
    background: #ffffff;
    transition: .2s;
    margin-left:25px;
    height: 60px;
    box-shadow: 0 8px 24px rgba(0, 29, 81, 0.18);
    margin-bottom: 15px;
}

.icono-subir:hover{
    background: #ddd;
}

.icono-subir .material-symbols-outlined{
    font-size: 32px;
    color: #535353;
}
.categoria{
    display:flex;
    align-items:center;
    width:calc(100% - 70px);
    height:50px;
    margin-left:25px;
    justify-content: center;
    border-radius:18px;
    background:#fff;
    box-shadow:0 8px 24px rgba(0,29,81,.18);
    gap:15px;
    margin-bottom: 15px;
    padding-left: 20px;
}

.categoria .material-symbols-outlined{
    font-size:32px;
    color:#535353;
}

.categoria select{
    flex:1;
    border:none;
    outline:none;
    background:transparent;
    font-size:16px;
    color:#535353;
    cursor:pointer;
    appearance:none;
}
#otraCategoria{
    width:calc(100% - 75px);
    height:30px;
    margin-left:25px;
    margin-bottom: 15px;
    padding-left: 25px;
    border:none;
    outline:none;
    border-radius:18px;
    background:#fff;
    box-shadow:0 8px 24px rgba(0,29,81,.18);
    font-size:14px;
}
.descripcion{
    display: flex;
    align-items: flex-start;
    
    gap: 15px;
    width: calc(100% - 70px);
    min-height: 50px;
    margin-left:25px;
    
    padding-left:20px;
    
    border-radius: 18px;
    background: #fff;
    box-shadow: 0 8px 24px rgba(0, 29, 81, 0.18);
}

.descripcion .material-symbols-outlined{
    font-size: 32px;
    color: #535353;
    margin-top: 12px;
}

.descripcion textarea{
    flex:1;
    border:none;
    outline:none;
    resize:none;
    overflow:hidden;
    background:transparent;
    font-size:16px;
    color:#535353;
    font-family:inherit;
    min-height:40px;

}
#descripcion{
    padding-top: 8px;
    line-height: 1.4;
}
.textarea-box{
    width:100%;
}
#contador{
    display:none;
    text-align:right;
    font-size:13px;
    color:#777;
    margin-top:5px;
    margin-right: 15px;
    margin-bottom: 10px;

    
}
.descripcion textarea::placeholder{
    color: #888;
}
.mapa-container{
    width:calc(100% - 50px);
    margin:15px 25px;
}

.busqueda{
    display:flex;
    align-items:center;
    gap:10px;
    background:#fff;
    padding:12px;
    border-radius:18px;
    box-shadow:0 8px 24px rgba(0,29,81,.18);
    margin-bottom:15px;
}

.busqueda input{
    flex:1;
    border:none;
    outline:none;
    font-size:16px;
    background:transparent;
}
#buscarDireccion{
    font-size: 14px;
}

.busqueda .material-symbols-outlined{
    color:#666;
}

#map{
    height:220px;
    border-radius:25px;
    overflow:hidden;
    box-shadow:0 8px 24px rgba(0,29,81,.18);
}
.textarea-container{
    flex:1;
    position:relative;
}

.textarea-container textarea{
    width:100%;
    border:none;
    outline:none;
    resize:none;
    overflow:hidden;
    font-size:16px;
    font-family:inherit;
    background:transparent;
    min-height:60px;
}

#contador{
    display:none;
    text-align:right;
    font-size:13px;
    color:#1d1d1d;
    margin-top:5px;
    transition:.2s;
    
}
#ubicacion{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding:5px;
    border-radius: 50%;
    background-color: #c3d9ff;
    box-shadow:0 8px 24px rgba(0,29,81,.18);
}
#ubicacion span {
    color:rgb(4, 34, 169);
    
}
.enviarReclamo{
    width: calc(100% - 50px);
    margin-left:25px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    height: 45px;
    background: linear-gradient(135deg, #16a34a 0%, #22c55e 50%, #4ade80 100%);
    display: flex;
    align-items: center;
    align-content: center;
    font-weight: 600;
    transition: all 0.3s ease;
    box-shadow:0 8px 24px rgba(0,29,81,.18);
    text-align: center;
    color: white;
    justify-content: center;
    font-size: 20px;
}
.enviarReclamo:hover {
    background: linear-gradient(135deg, #15803d 0%, #16a34a 50%, #22c55e 100%);
    transform: translateY(-2px);
    box-shadow: 0 8px 18px rgba(22, 163, 74, 0.45);
}